@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Playfair+Display+SC:700|Sacramento&display=swap');
body {
  background: url(assets/BG.png);
  background-size: 50%;
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  text-align: center;
}
h2 {
  font-family: 'Playfair Display SC', serif;
}
span, li, input {
  font-family: 'Coming Soon', cursive;
}

li {
  margin-bottom: 10px;
}
label {
  font-family: 'Sacramento', cursive;
}

.App {
background-color: #FEF5F7;
width: 50%;
margin: 0 auto;
padding: 20px;
}

.done {
  text-decoration: line-through;
}
.highlight {
background: url(assets/yellow-brushstroke.png);
background-repeat: no-repeat;
background-size: 100% 95%;
padding: 8px 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
